/*first page*/
.home {
  background: url(images/home-pic.png) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
}

.home-text {
  height: 40%;
  width: 45%;
  background: grey;
  border-radius: 0.2em;
  opacity: 0.8;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  font-family: 'Nunito', sans-serif;
  position: absolute; 
  top: 3.4em;
}

#welcome-text {
  font-weight: bold;
  font-size: 2.2em;
  text-align: center;
}
/*first page*/

/*projects page*/
.projects {
  background: url(images/stardust.png);
  background-size: cover;
  height: 100%;
  width: 100%;
}

h3 {
  font-size: 4em;
  text-align: center;
  font-family: Rockwell Extra Bold;
  color: white;
  margin-top: 0em;
}

/*.img-div img {
  height: 40%;
  width: 40%;
}*/

.img-div {
  text-align: center;
}

.project-all p {
  clear: both;
  margin: auto;
  width: 42%;
  background: grey;
  opacity: 0.8;
  font-weight: bold;
  font-size: 1em;
}


.project-all a {
  text-decoration: none;
  color: #39beea;
  transition: 1s;
}

.project-all a:hover {
  color: black;
}

/*projects page

/*skills page*/
.skills {
  background: url(images/congruent_outline.png);
  height: 100%;
  width: 100%;
  text-align: center;
  color: white;
}

.skills ul {
  list-style-type: none;
}

.skills li {
  width: 30%;
  display: inline;
}

h2 {
  text-align: center;
  font-size: 3em;
  font-family: Rockwell Extra Bold;
  position: absolute;
  top: 1em;
  text-decoration: underline;
}

#front-end {
  height: 15%;
  width: 15%;
}

.code-lang {
  height: 5%;
  width: 5%;
}

.underscore {
  height: 10%;
  width: 10%;
}

.skills p {
  color: white;
  font-size: 1em;
}
/*skills page

/*contact me*/
.contact {
  background: url(images/main-pic.png) no-repeat;
  background-size: cover;
  height: 100%;
  width: 100%;
  text-align: center;
}

.contact p {
  background: grey;
  width: 60%;
  margin: auto;
  opacity: .6;
  font-size: 2.5em;
  font-weight: bold;
  border-radius: 0.5em;
}

.contact a {
  text-decoration: none;
  color: #39beea;
  transition: 0.5s;
}

.contact a:hover {
  color: blue;
}

h1 {
  text-decoration: underline;
  font-weight: bold;
  font-family: Rockwell Extra Bold;
  font-size: 3em;
}
/*contact me