.devicon-angularjs-plain-wordmark.colored,
.devicon-angularjs-plain.colored {
	color: #c4473a;
}
.devicon-backbonejs-plain.colored,
.devicon-backbonejs-plain-wordmark.colored {
	color: #002A41;
}
.devicon-bootstrap-plain-wordmark.colored,
.devicon-bootstrap-plain.colored {
	color: #59407f;
}
.devicon-chrome-plain-wordmark.colored,
.devicon-chrome-plain.colored {
	color: #ce4e4e;
}
.devicon-css3-plain-wordmark.colored,
.devicon-css3-plain.colored {
	color: #3d8fc6;
}
.devicon-firefox-plain-wordmark.colored,
.devicon-firefox-plain.colored {
	color: #DD732A;
}
.devicon-foundation-plain-wordmark.colored,
.devicon-foundation-plain.colored {
	color: #008cba;
}
.devicon-git-plain-wordmark.colored,
.devicon-git-plain.colored {
	color: #f34f29;
}
.devicon-html5-plain-wordmark.colored,
.devicon-html5-plain.colored {
	color: #e54d26;
}
.devicon-javascript-plain.colored {
	color: #f0db4f;
}
.devicon-jquery-plain-wordmark.colored,
.devicon-jquery-plain.colored {
	color: #0769ad;
}
.devicon-nodejs-plain.colored,
.devicon-nodejs-plain-wordmark.colored {
	color: #83CD29;
}
.devicon-postgresql-plain.colored,
.devicon-postgresql-plain-wordmark.colored {
	color: #336791;
}
.devicon-python-plain-wordmark.colored,
.devicon-python-plain.colored {
	color: #ffd845;
}
.devicon-rails-plain-wordmark.colored,
.devicon-rails-plain.colored {
	color: #a62c46;
}
.devicon-ruby-plain-wordmark.colored,
.devicon-ruby-plain.colored {
	color: #d91404;
}
.devicon-react-plain-wordmark.colored,
.devicon-react-plain.colored,
.devicon-react-original-wordmark.colored,
.devicon-react-original.colored {
	color: #61dafb;
}
.devicon-sass-original.colored,
.devicon-sass-plain.colored,
.devicon-sass-plain-wordmark.colored {
	color: #cc6699;
}
