html {
  background: black;
  height: 100%;
  width: 100%;
}

.top-gray-bar {
  /*position: absolute;
  top: 0;
  left: 0;*/
  height: 8%;
  width: 100%;
  background: grey;
  color: white;
}

h1 {
  position: relative;
  left: 0;
  bottom: 0;
  width: 50%;
  background: grey;
}

#role {
  font-size: 0.5em;
}

#social-icons {
  position: absolute;
  top: 0.3em;
  right: 1em;
  text-align: right;
  width: 30%;
}

#social-icons img {
  height: 7%;
  width: 7%;
}
#social-icons img:hover {

}